# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build
*.tsbuildinfo

# Generated
packages/database/generated

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Turbo
.turbo

# Misc
*.pem
.vercel
